form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  div {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    input {
      border: 2px solid;
      padding: 5px 0.25rem;
      flex-basis: 80%;
    }
    label {
      flex-basis: 20%;
    }
  }
  button {
    flex-basis: 30%;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    background: #000000e7;
    color: whitesmoke;
    font-weight: 900;
    align-content: center;
    &:disabled {
      cursor: not-allowed;
    }
  }
}
