h1{
    background-color: black;
    color:white;
    text-align: center;
    padding:  0.5em 0;
    font-size: 2rem;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    word-spacing: 5px;
}